---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=162cfc912bc544bba9b195514241212&q=87507
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999936'
      Cdn-Proxyver:
      - '1.07'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 12/15/2024 21:25:08
      Cdn-Edgestorageid:
      - '1234'
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
      Cdn-Requestid:
      - 33622723363664cd034adfb70ea2962a
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Santa Fe","region":"New Mexico","country":"USA","lat":35.6768,"lon":-105.958,"tz_id":"America/Denver","localtime_epoch":1734296411,"localtime":"2024-12-15
        14:00"},"current":{"last_updated_epoch":1734296400,"last_updated":"2024-12-15
        14:00","temp_c":8.0,"temp_f":46.4,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":263,"wind_dir":"W","pressure_mb":1020.0,"pressure_in":30.11,"precip_mm":0.0,"precip_in":0.0,"humidity":28,"cloud":0,"feelslike_c":5.4,"feelslike_f":41.8,"windchill_c":6.2,"windchill_f":43.2,"heatindex_c":8.3,"heatindex_f":46.9,"dewpoint_c":-5.4,"dewpoint_f":22.2,"vis_km":11.0,"vis_miles":6.0,"uv":1.7,"gust_mph":12.1,"gust_kph":19.5},"forecast":{"forecastday":[{"date":"2024-12-15","date_epoch":1734220800,"day":{"maxtemp_c":8.9,"maxtemp_f":48.0,"mintemp_c":-4.0,"mintemp_f":24.8,"avgtemp_c":2.5,"avgtemp_f":36.5,"maxwind_mph":11.9,"maxwind_kph":19.1,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":40,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":0.6},"astro":{"sunrise":"07:07
        AM","sunset":"04:52 PM","moonrise":"05:05 PM","moonset":"07:43 AM","moon_phase":"Full
        Moon","moon_illumination":100,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1734246000,"time":"2024-12-15
        00:00","temp_c":2.6,"temp_f":36.7,"is_day":0,"condition":{"text":"Partly Cloudy
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":0.4,"wind_kph":0.7,"wind_degree":75,"wind_dir":"ENE","pressure_mb":1021.0,"pressure_in":30.16,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":28,"cloud":44,"feelslike_c":2.5,"feelslike_f":36.5,"windchill_c":2.5,"windchill_f":36.5,"heatindex_c":2.6,"heatindex_f":36.7,"dewpoint_c":-13.8,"dewpoint_f":7.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":0.9,"gust_kph":1.5,"uv":0},{"time_epoch":1734249600,"time":"2024-12-15
        01:00","temp_c":2.5,"temp_f":36.4,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":1.8,"wind_kph":2.9,"wind_degree":14,"wind_dir":"NNE","pressure_mb":1021.0,"pressure_in":30.16,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":32,"cloud":9,"feelslike_c":2.4,"feelslike_f":36.3,"windchill_c":2.4,"wi[...]
[...]
